.modal-container {
    display: grid;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    background: #ffffff;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    z-index: 1;
}

.add-modal-input::placeholder {
    color: black;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: #dbdbdb;
    font-size: 16px;
    resize: none;
    grid-column: 1/-1;
    grid-row: 4/5;
}

.modal-container input {
    width: 100px;
}

.close-modal {
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: flex-end;
    /* border: 20px; */
}

.close-modal button {
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
}

.close-modal .fa-x {
    border-radius: 20px;
}

.close-modal button:hover {
    background-color: #000000;
    color: rgb(243, 240, 240);
}

.submit-container {

    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 6;

}

.submit-container button {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 5px;
}

.submit-container button:hover {
    background-color: #ffffff;
    color: #000000;
}


.background {
    width: 100vw;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
}