.filter-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.filter-container label {
    display: none;
}

.txt-input {
    width: 200px;
    padding: 1em;
    border-radius: 15px;
    background-color: #2c2f32;
    color: aliceblue;
    text-align: center;
}

.severity-input {
    width: 200px;
    padding: 1em;
    border-radius: 15px;
    background-color: #2c2f32;
    color: aliceblue;
    text-align: center;
}