.toys-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 5rem;
}


.toy-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
}


/* move to preview css */

.label-container {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.preview-link-container {
    display: flex;
    justify-content: space-around;
}

.preview-link-container * {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

.preview-link-container *:hover {
    color: rgb(162, 164, 165);
}

.preview-link-container button {
    background: none;
}

.toy-img-container {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.toy-img-container img {
    width: 50%;
}

.red {
    color: red;
}

.green {
    color: rgb(52, 153, 52);
}