.todo-filter {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.sort-container {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.basic-multi-select {
    color: black;
}